@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./inter/Inter-SemiBold.ttf');
}
@font-face {
  font-family: 'Inter-Black';
  src: url('./inter/Inter-Black.ttf');
}
@font-face {
  font-family: 'AnonymousPro-Bold';
  src: url('./anonymousPro/AnonymousPro-Bold.ttf');
}
