<div class="container">
  <h2>Play online and earn</h2>
  <h1>BEST ONLINE GAMING CLUB FOR ALL TIME</h1>
  <div class="process">
    <span class="process__step">LEARN</span>
    <img src="../assets/outline_arrow_circle_right.png">
    <span class="process__step">DEPOSIT</span>
    <img src="../assets/outline_arrow_circle_right.png">
    <span class="process__step process__step--color">PLAY!</span>
  </div>
  <div class="btn-group">
    <a href="" class="btn-group__button btn-group__button--principal">
      <span>PLAY NOW</span>
      <img src="../assets/outline_arrow_right.png" width="35px">
    </a>
    <a href="" class="btn-group__button btn-group__button--secondary">
      <span>HOW TO PLAY</span>
      <img src="../assets/outline_arrow_right.png" width="35px">
    </a>
  </div>
</div>
